<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
		<!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
		<meta name="renderer" content="webkit">
		<!--国产浏览器高速模式-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="学员信息管理系统" />
		<!-- 作者 -->
		<meta name="revised" content="学员信息管理系统.v1, 2020/04/01" />
		<!-- 定义页面的最新版本 -->
		<meta name="description" content="学员信息管理系统" />
		<!-- 网站简介 -->
		<meta name="keywords" content="学员信息管理系统" />
		<title>学员信息管理系统</title>

		<link rel="stylesheet" type="text/css" href="<?php echo base_url('application/views/css/base.css');?>">
		<link rel="stylesheet" type="text/css" href="<?php echo base_url('application/views/css/iconfont.css');?>">
		<script type="text/javascript" src="<?php echo base_url('application/views/framework/jquery-1.11.3.min.js');?>" ></script>
		<link rel="stylesheet" type="text/css" href="<?php echo base_url('application/views/layui/css/layui.css');?>">
		<script type="text/javascript" src="<?php echo base_url('application/views/layui/layui.js');?>"></script>
		<link rel="stylesheet" type="text/css" href="<?php echo base_url('application/views/css/jquery.mCustomScrollbar.css');?>">
		<script src="<?php echo base_url('application/views/framework/jquery-ui-1.10.4.min.js');?>"></script>
		<script src="<?php echo base_url('application/views/framework/jquery.mousewheel.min.js');?>"></script>
		<script src="<?php echo base_url('application/views/framework/jquery.mCustomScrollbar.min.js');?>"></script>
		<script src="<?php echo base_url('application/views/framework/cframe.js');?>"></script><!-- 仅供所有子页面使用 -->
		<!-- 公共样式 结束 -->


	</head>

	<body>
		<div class="cBody">
			<div class="console">
				<form class="layui-form" action="">
					<div class="layui-form-item">
						<div class="layui-input-inline">
							<input type="text" name="rxpcName" id="rxpcName" lay-verify="" placeholder="输入学期" autocomplete="off" class="layui-input">
						</div>
						<div class="layui-input-inline">
				        	<input type="text" name="bjName" id="bjName" lay-verify="" placeholder="输入班级" autocomplete="off" class="layui-input">
						</div>
						<button class="layui-btn" type="button" id="searchBj" lay-submit lay-filter="formDemo">检索</button>
					</div>
				</form>

				<script>
					layui.use(['form','laydate'], function() {
						var form = layui.form;
						var laydate = layui.laydate;
				
						//监听提交
						form.on('submit(formDemo)', function(data) {
							// layer.msg(JSON.stringify(data.field));
							return true;
						});
						
						var newDate = new Date();
						nowTime = newDate.getFullYear()+"-"+(newDate.getMonth()+1)+"-"+newDate.getDate();
						laydate.render({
						    elem: '#time' 
					    	,range: '~'
//					    	,type: 'datetime'	//开启时分秒
					    	,format: 'yyyy-MM-dd'
					    	,max: nowTime	//min/max - 最小/大范围内的日期时间值
						});
					});
				</script>
			</div>
			
			<table class="layui-table">
				<thead>
					<tr>
						<th>序号</th>
						<th>学期</th>
						<th>班级</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody id="bjTds">
				</tbody>
			</table>
			
			<!-- layUI 分页模块 -->
			<div id="pages"></div>
			<script>
				layui.use(['laypage', 'layer'], function() {
					var laypage = layui.laypage,
						layer = layui.layer;
						var arr = <?php echo json_encode($bjs);?>;
			    		var aarr = eval(arr);
				
					//总页数大于页码总数
					laypage.render({
					    elem: 'pages'
					    ,count: <?php echo count($bjs);?>
					    ,layout: ['count', 'prev', 'page', 'next', 'limit', 'skip']
					    ,jump: function(obj){
					      var tmpstr = "";
					    	//console.log("hello");
					    	for(var i=0;(i<obj.limit)&&((i+obj.limit*(obj.curr-1))<obj.count);i++){
					    		var a = aarr[i+obj.limit*(obj.curr-1)];
					    		tmpstr += "<tr>";
								tmpstr += "<td>"+(i+1)+"</td>";
								tmpstr += "<td>"+a.rxpcName+"</td>";
								tmpstr += "<td>"+a.bjName+"</td>";
								tmpstr += "<td><button class=\"layui-btn layui-btn-xs\" bjId=\""+a.bjId+"\" onclick=\"updateBut("+a.bjId+")\">修改</button>";
								tmpstr += "<button class=\"layui-btn layui-btn-xs\" bjId=\""+a.bjId+"\" onclick=\"deleteBut("+a.bjId+") \">删除</button></td>";
								tmpstr += "</tr>";	
					    	};
					    	$("#bjTds").html(tmpstr);
					    }
					});
				});

				//ajax动态获取班级列表
			  	$("#searchBj").click(function(){
			  		var url = "<?php echo base_url('bj/search'); ?>";
			  		$.get(url, {'rxpcName':$("#rxpcName").val().toString(),'bjName':$("#bjName").val().toString()}, function(data){
						layui.use('laypage', function() {
							var laypage = layui.laypage;
					    	var aarr = eval(data);				
							//总页数大于页码总数
							laypage.render({
							    elem: 'pages'
							    ,count: aarr.length
							    ,layout: ['count', 'prev', 'page', 'next', 'limit', 'skip']
							    ,jump: function(obj){
							    	var tmpstr = "";
							    	for(var i=0;(i<obj.limit)&&((i+obj.limit*(obj.curr-1))<obj.count);i++){
							    		var a = aarr[i+obj.limit*(obj.curr-1)];
							    		tmpstr += "<tr>";
										tmpstr += "<td>"+(i+1)+"</td>";
										tmpstr += "<td>"+a.rxpcName+"</td>";
										tmpstr += "<td>"+a.bjName+"</td>";
										tmpstr += "<td><button class=\"layui-btn layui-btn-xs\" bjId=\""+a.bjId+"\" onclick=\"updateBut("+a.bjId+")\">修改</button>";
										tmpstr += "<button class=\"layui-btn layui-btn-xs\" bjId=\""+a.bjId+"\"  onclick=\"deleteBut("+a.bjId+") \">删除</button></td>";
										tmpstr += "</tr>";	
							    	};//for
							    	$("#bjTds").html(tmpstr);
							    }//function(obj)
							});//laypage.render
						});//layui.use
			  		});//$.get
			  	});//$("#searchBj").click(
			  		
			  	//修改按钮
			  	var updateFrame = null;
				function updateBut(e){
					layui.use('layer', function() {
						var layer = layui.layer;
						var tmp = "<?php echo base_url('bj/update?bjId="+e+"');?>";
						//iframe层-父子操作
						updateFrame = layer.open({
                    		title: "班级信息修改",
							type: 2,
							area: ['70%', '60%'],
							scrollbar: false,	//默认：true,默认允许浏览器滚动，如果设定scrollbar: false，则屏蔽
							maxmin: true,
							content: tmp
						});
					});
				}	

					//删除按钮
			  	var deleteFrame = null;
				function deleteBut(e){
					layui.use('layer', function() {
						var layer = layui.layer;
						var tmp = "<?php echo base_url('bj/delete?bjId="+e+"');?>";
						//iframe层-父子操作
						deleteFrame = layer.open({
                    		title: "删除班级",
							type: 2,
							area: ['70%', '60%'],
							scrollbar: false,	//默认：true,默认允许浏览器滚动，如果设定scrollbar: false，则屏蔽
							maxmin: true,
							content: tmp
						});
					});
				}	

			</script>
		</div>
	</body>

</html>