<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
		<!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
		<meta name="renderer" content="webkit">
		<!--国产浏览器高速模式-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="学员信息管理系统" />
		<!-- 作者 -->
		<meta name="revised" content="学员信息管理系统.v1, 2020/04/01" />
		<!-- 定义页面的最新版本 -->
		<meta name="description" content="学员信息管理系统" />
		<!-- 网站简介 -->
		<meta name="keywords" content="学员信息管理系统" />
		<title>学员信息管理系统</title>

		<!-- 公共样式 开始 -->
		<link rel="stylesheet" type="text/css" href="<?php echo base_url('application/views/css/base.css');?>">
		<link rel="stylesheet" type="text/css" href="<?php echo base_url('application/views/css/iconfont.css');?>">
		<script type="text/javascript" src="<?php echo base_url('application/views/framework/jquery-1.11.3.min.js');?>" ></script>
		<link rel="stylesheet" type="text/css" href="<?php echo base_url('application/views/layui/css/layui.css');?>">
		<script type="text/javascript" src="<?php echo base_url('application/views/layui/layui.js');?>"></script>
		<!-- 滚动条插件 -->
		<link rel="stylesheet" type="text/css" href="<?php echo base_url('application/views/css/jquery.mCustomScrollbar.css');?>">
		<script src="<?php echo base_url('application/views/framework/jquery-ui-1.10.4.min.js');?>"></script>
		<script src="<?php echo base_url('application/views/framework/jquery.mousewheel.min.js');?>"></script>
		<script src="<?php echo base_url('application/views/framework/jquery.mCustomScrollbar.min.js');?>"></script>
		<script src="<?php echo base_url('application/views/framework/cframe.js');?>"></script><!-- 仅供所有子页面使用 -->
		<!-- 公共样式 结束 -->

		<style>
			.layui-form{
				margin-right: 30%;
			}
		</style>

	</head>

	<body>
		<div class="cBody">
			<form id="addForm" class="layui-form" action="">
				<div class="layui-form-item">
                    <select name="rxpcSwitch" id="rxpcSwitch" lay-filter="">
                        <option value="">选择学期</option>
                        <?php foreach($rxpc as $r): ?>
					      <option value="<?php echo $r['id']; ?>" ><?php echo $r['Name']; ?></option>
					    <?php endforeach; ?>
                    </select>
                </div>
				<div class="layui-form-item">
					<label class="layui-form-label">班级</label>
					<div class="layui-input-inline shortInput">
						<input type="text" name="bjName" id="bjName" lay-verify="" placeholder="输入要新建的班级名" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-input-block">
						<button class="layui-btn" type="button" id="addbjBtn" lay-submit lay-filter="submitBut">立即提交</button>
					</div>
				</div>
			</form>
			
			<!-- 三级省市 插件 -->
    		<script src="../../framework/area.js"></script>
			<script src="../../framework/province.js"></script>
			<script>
				//默认城市为：宁夏 - 银川
		        var defaults = {
		            s1: 'provid',
		            s2: 'cityid',
		            s3: 'areaid',
		            v1: 510000,
		            v2: 510100,
		            v3: null
		        };

		        $("#addRxpcBtn").click(function(){
			  		var url = "<?php echo base_url('rxpc/addRxpc'); ?>";
			  		$.get(url, {'rxpcName':$("#rxpcName").val().toString()}, function(data){
			  			layer.msg(data);
			  		});
			  	});


			</script>

		</div>
	</body>

</html>