<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
		<!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
		<meta name="renderer" content="webkit">
		<!--国产浏览器高速模式-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="学员信息管理系统" />
		<!-- 作者 -->
		<meta name="revised" content="学员信息管理系统.v1, 2020/04/01" />
		<!-- 定义页面的最新版本 -->
		<meta name="description" content="学员信息管理系统" />
		<!-- 网站简介 -->
		<meta name="keywords" content="学员信息管理系统" />
		<title>学员信息管理系统</title>

		<!-- 公共样式 开始 -->
		<link rel="stylesheet" type="text/css" href="<?php echo base_url('application/views/css/base.css');?>">
		<link rel="stylesheet" type="text/css" href="<?php echo base_url('application/views/css/iconfont.css');?>">
		<script type="text/javascript" src="<?php echo base_url('application/views/framework/jquery-1.11.3.min.js');?>" ></script>
		<link rel="stylesheet" type="text/css" href="<?php echo base_url('application/views/layui/css/layui.css');?>">
		<script type="text/javascript" src="<?php echo base_url('application/views/layui/layui.js');?>"></script>
		<link rel="stylesheet" type="text/css" href="<?php echo base_url('application/views/css/jquery.mCustomScrollbar.css');?>">
		<script src="<?php echo base_url('application/views/framework/jquery-ui-1.10.4.min.js');?>"></script>
		<script src="<?php echo base_url('application/views/framework/jquery.mousewheel.min.js');?>"></script>
		<script src="<?php echo base_url('application/views/framework/jquery.mCustomScrollbar.min.js');?>"></script>
		<script src="<?php echo base_url('application/views/framework/cframe.js');?>"></script><!-- 仅供所有子页面使用 -->
		<!-- 公共样式 结束 -->
		
		<style>
			.layui-form-label{
				width: 100px;
			}
			.layui-input-block{
				margin-left: 130px;
			}
		</style>

	</head>

	<body>
		<div class="cBody">
			<form id="addForm" class="layui-form" action="">
				<div class="layui-form-item">
					<label class="layui-form-label">学号</label>
					<div class="layui-input-block">
						<input type="text" name="StudentNo" required lay-verify="required" autocomplete="off" class="layui-input" value="<?php echo $s['StudentNo'];?>">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">姓名</label>
					<div class="layui-input-block">
						<input type="text" name="Name" required lay-verify="required" autocomplete="off" class="layui-input" value="<?php echo $s['Name'];?>">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">出生日期</label>
					<div class="layui-input-block">
						<input type="text" name="Birthday" required lay-verify="required|number" autocomplete="off" class="layui-input" value="<?php echo $s['Birthday'];?>">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">性别</label>
					<div class="layui-input-block">
						<input type="text" name="Sex" autocomplete="off" class="layui-input" value="<?php echo $s['Sex'];?>">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">政治面貌</label>
					<div class="layui-input-block">
						<input type="text" name="ZZMM" autocomplete="off" class="layui-input" value="<?php echo $s['ZZMM'];?>">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">籍贯</label>
					<div class="layui-input-block">
						<input type="text" name="JG" autocomplete="off" class="layui-input" value="<?php echo $s['JG'];?>">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">所在城市</label>
					<div class="layui-input-block">
						<input type="text" name="SZCS" autocomplete="off" class="layui-input" value="<?php echo $s['SZCS'];?>">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">身份证号码</label>
					<div class="layui-input-block">
						<input type="text" name="IdCard" autocomplete="off" class="layui-input" value="<?php echo $s['IdCard'];?>">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">手机号码</label>
					<div class="layui-input-block">
						<input type="text" name="Phone" autocomplete="off" class="layui-input" value="<?php echo $s['Phone'];?>">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">办公电话</label>
					<div class="layui-input-block">
						<input type="text" name="Tel" autocomplete="off" class="layui-input" value="<?php echo $s['Tel'];?>">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">单位职务</label>
					<div class="layui-input-block">
						<input type="text" name="GZDW" autocomplete="off" class="layui-input" value="<?php echo $s['GZDW'];?>">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">班级</label>
					<div class="layui-input-block">
						<input type="text" name="BJName" autocomplete="off" class="layui-input" value="<?php echo $s['BJName'];?>" disabled>
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">学期</label>
					<div class="layui-input-block">
						<input type="text" name="XQ" autocomplete="off" class="layui-input" value="<?php echo $s['XQ'];?>" disabled>
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">班级职务</label>
					<div class="layui-input-block">
						<input type="text" name="BJZW" autocomplete="off" class="layui-input" value="<?php echo $s['BJZW'];?>">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">组织员</label>
					<div class="layui-input-block">
						<input type="text" name="ZZY" autocomplete="off" class="layui-input" value="<?php echo $s['ZZY'];?>">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">备注1</label>
					<div class="layui-input-block">
						<textarea name="Remark1" class="layui-textarea"><?php echo $s['Remark1'];?></textarea>
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">备注2</label>
					<div class="layui-input-block">
						<textarea name="Remark2" class="layui-textarea"><?php echo $s['Remark2'];?></textarea>
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">分类</label>
	                <div class="layui-input-inline">
	                    <select name="provid" id="provid" lay-filter="provid">
	                        <option value="">一级分类</option>
	                    </select>
	                </div>
	                <div class="layui-input-inline">
	                    <select name="cityid" id="cityid" lay-filter="cityid">
	                        <option value="">二级分类</option>
	                    </select>
	                </div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">状态</label>
					<div class="layui-input-block">
						<input type="radio" name="sex" value="nan" title="启用">
						<input type="radio" name="sex" value="nv" title="禁用" checked>
					</div>
				</div>
				
				<div class="layui-form-item">
					<div class="layui-input-block">
						<button class="layui-btn" lay-submit lay-filter="submitBut">立即提交</button>
						<button type="reset" class="layui-btn layui-btn-primary">重置</button>
					</div>
				</div>
			</form>
			
			
			<script>
				layui.use(['upload','form'], function() {
					var form = layui.form;
					var upload = layui.upload;
					var layer = layui.layer;
					//监听提交
					//解决了layui.open弹窗从内部关闭这个弹窗的问题
					form.on('submit(submitBut)', function(data) {
						var updateFrame = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
						parent.layer.close(updateFrame);  //再改变当前层的标题
					});
					form.verify({
						//数组的两个值分别代表：[正则匹配、匹配不符时的提示文字]
					  	ZHCheck: [
						    /^[\u0391-\uFFE5]+$/
						    ,'只允许输入中文'
					  	] 
					});
					//拖拽上传
					upload.render({
						elem: '#goodsPic',
						url: '/upload/',
						done: function(res) {
						  	console.log(res)
						}
					});
				});
			</script>

		</div>
	</body>

</html>